.alert {
    margin-bottom: -6px;
    padding: 13px;
}

.my-hr {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.my-select {
	height: 46px;
}

.center {
	margin: 16% 25%;
}

.center-horizontal {
	margin: 0 36%;
}

.btn-width {
	width: 100%;
}

.clear {	
	clear: both;
	width: 63px;
}

.edited {
	color: red;
}

.wrapper {
	min-height: 100%;
}

html, body {
	height: 100%;
}


.form-control {
	border-radius: 0;
} 

.input-lg {
	font-size: 14px;
}

.list-group-item-warning {
	color: #8a6d3b;
	background-color: #f9f9f9;
}

.badge {
	background-color: #000;
}

.info-block {
	font-size: 120%;
}

.info-block .badge {
	font-size: 80%;
}

.info-block span {
	margin-right: 3%;
}

textarea.form-control {
	height: 150px;
}

.table tbody>tr>td.vert-align {
	vertical-align: middle;
}

.footer {
	position: fixed;
	width: 100%;
    /* //right: 16px; */
    bottom: 0;
    color: #666;
    background-color: #222;
    border-top: 1px solid #000;
    height: 5%;
}

footer {
	color: #666;
	background-color: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
}